# BEGIN WordPress
RewriteEngine On
RewriteBase /omiya/0007/wp/
RewriteRule ^index\.php$ - [L]

# 既存のファイルやディレクトリがある場合はスルー
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# すべて index.php に渡す
RewriteRule . /omiya/0007/wp/index.php [L]
# END WordPress
